In [8]:
import pandas as pd
import pickle

In [9]:
dict_path = "/home/polichinel/Documents/Articles/conflict_prediction/data/ViEWS/two_trend_ExpQuad_dict.pkl"

pkl_file = open(dict_path, 'rb')
ex_dict = pickle.load(pkl_file)
pkl_file.close()

In [10]:
ex_dict.keys()

dict_keys(['32_ged_best_sb_ExpQuad_map_df', '32_ged_best_sb_ExpQuad_mse_results_df', '32_ged_best_sb_ExpQuad_mse_dict', '32_ged_best_sb_ExpQuad_df_results'])

In [11]:
ex_dict['32_ged_best_sb_ExpQuad_map_df']

  Parameter  Value at MAP
0       ℓ_s      4.308378
1       η_s      0.273011
2       ℓ_l     38.302339
3       η_l      0.495837
4         σ      0.616867

In [12]:
ex_dict['32_ged_best_sb_ExpQuad_mse_results_df']

,Gps,MSE insample (mean),MSE insample (sd),MSE outsample (mean),MSE outsample (sd)
0,Full,0.345294,0.336502,0.933293,1.175397
1,Short,0.624917,0.963695,1.245171,1.915020
2,long,0.431509,0.439589,0.938713,1.186622

In [13]:
ex_dict['32_ged_best_sb_ExpQuad_df_results']

  Metrics     Train      Test
0     AUC  0.913676  0.668565
1      AP  0.634713  0.488625
2      BS  0.068621  0.146222